@font-face {
  font-family: "Game";
  src: url("../public/assets/Fonts/LEMONMILK-Bold.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Styling the navbar */

.logo {
  width: 100%;
  margin: 0 20%;
}

.logo-details {
  width: 3rem;
  height: 3rem;
}

.logo img {
  width: 100%;
}

.header a {
  width: 10%;
  margin: 0 7%;
}

.header-game-list a {
  width: 10%;
  margin: 0 7%;
}

.header-game-list {
  width: 100%;
  height: 70vh;
  background-color: black;
  color: white;
  padding: 2rem;
  background-image: url("https://getwallpapers.com/wallpaper/full/c/a/0/568188.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: lighten;
  box-shadow: 0rem 1rem 2rem black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 100%;
  height: 70vh;
  background-color: black;
  color: white;
  padding: 2rem;
  background-image: url("https://getwallpapers.com/wallpaper/full/c/a/0/568188.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: lighten;
  box-shadow: 0rem 1rem 2rem black;
  display: flex;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
  height: 5%;
}

.displaying-user-name {
  color: white;
  font-family: "Game";
}

.user-icon {
  width: 1.5rem;
  margin: 1rem;
}

.divider {
  border-top: 2px solid white;
  width: 80%;
}

.search-bar {
  width: 70%;
  margin: 0 20%;
}

.search-bar-input {
  width: 80%;
  height: 3rem;
  border-radius: 10px;
  box-shadow: 1rem 1rem 2rem black;
  padding: 1rem;
}

.search-bar-button {
  margin: 0 0.2rem;
  width: 10%;
  height: 3rem;
  border-radius: 10px;
  box-shadow: 1rem 1rem 2rem black;
  transition: 400ms;
  font-family: "Game";
  font-size: 1.2rem;
  background-color: #8bc6ef;
  transform: translateY(0.2rem);
}

.search-bar-button:hover {
  scale: 1.3;
}

.dropdowns {
  margin: 10% 0 0 0;
  width: 15%;
  display: flex;
  flex-direction: column;
}

select {
  background-color: rgb(48, 48, 48);
  margin: 0.3rem;
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  font-size: 1.3rem;
  transition: 150ms;
}

select:hover {
  scale: 1.1;
}

/* Styling the filter menu */

.dropdown-container {
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
  width: 25%;
  transition: 400ms;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  transition: 400ms;
}

.dropdown-menu {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
  transition: 400ms;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
  transition: 400ms;
}

.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.dropdown-item:hover {
  background-color: #9fc3f870;
}

/* Styling the HomePage */

.HomePage-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.HomePage-GameList-button {
  width: 100%;
  height: 5rem;
  background-color: #8bc6ef;
  border-radius: 3vh;
  margin: 6rem 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Game";
  transition: 400ms;
}

.HomePage-GameList-button h1 {
  color: white;
  font-size: 1.2rem;
  -webkit-text-stroke: 1px black;
}

.HomePage-GameList-button:hover {
  filter: brightness(1);
  scale: 1.12;
}

.HomePage-UserProfile-button {
  width: 100%;
  height: 5rem;
  background-color: #8bc6ef;
  border-radius: 3vh;
  margin: 6rem 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Game";
  transition: 400ms;
}

.HomePage-UserProfile-button:hover {
  filter: brightness(1);
  scale: 1.12;
}

.HomePage-UserProfile-button h1 {
  color: white;
  font-size: 1.2rem;
  -webkit-text-stroke: 1px black;
}

/* Styling for the GameList page */

.GameList-video-game-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(48, 48, 48);
}

.GameList-video-game {
  width: 22.5%;
  height: 30rem;
  background-position: center;
  background-size: cover;
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  box-shadow: 1rem 1rem 2rem black;
  filter: brightness(0.75);
  transition: all 400ms;
  border-radius: 10px;
}

.GameList-video-game:hover {
  filter: brightness(1);
  scale: 1.12;
}

.GameList-video-game-name {
  width: fit-content;
  height: fit-content;
  margin: 15%;
  font-family: "Game";
  font-size: 1.5rem;
  color: white;
  -webkit-text-stroke: 1px black;
}

.like img {
  transition: 300ms;
}

.like img:hover {
  scale: 2;
}

/* Styling the game details page  */

.game-details-background {
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-position-y: 0rem;
}

.gameBackground {
  position: relative;
}

.gameBackground h1 {
  position: absolute;
  bottom: 0;
  -webkit-text-stroke: 1px black;
  color: #fff;
  font-size: 4rem;
  font-family: "Game";
}

.gameBackground div {
  background-attachment: fixed;
}

.carousel {
  background-color: rgb(48, 48, 48);
}

.carousel-image {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.indicators button {
  background-color: #8bc6ef;
  width: 5rem;
  height: 1.5rem;
  border-radius: 10px;
}

.indicators button:hover {
  scale: 1.3;
  background-color: #134e79;
}

.carousel-image p {
  color: #fff;
  position: absolute;
  bottom: 3px;
  left: 10px;
  font-size: 1.5rem;
}

.detailsTable {
  font-family: "Game";
  font-size: 0.7rem;
  background-color: rgb(48, 48, 48);
  color: #fff;
  padding: 1rem;
}

.detailsTable td {
  padding: 1rem;
}

.small-progress-bar {
  width: 100px;
  height: 100px;
}

.progress-bar {
  display: flex;
}

.CircularProgressBar {
  width: 0;
}

.logos {
  width: 2.5rem;
  margin: 1rem;
}

.screenshot-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(48, 48, 48);
  border-radius: 5px;
  height: auto;
}

.screenshot-image {
  background-size: cover;
  object-fit: cover;
  width: 10rem;
  height: 10rem;
  border-radius: 5px;
  border: 1px solid white;
  margin: 0.5rem;
  transition: transform 0.7s ease;
}
.screenshot-image:hover {
  transform: scale(3);
  transform-origin: center;
  transition-delay: 0.6s;
}
.screenshot-text {
  background-color: rgb(48, 48, 48);
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

.title {
  text-decoration: underline 2px;
  color: #8bc6ef;
  border: 1px solid white;
}

.reviewTable {
  display: flex;
  justify-content: space-evenly;
}

.reviewTable td {
  border: 1px solid black;
  width: 20rem;
}

.ratingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.iconContainer img {
  width: 80px;
  height: 80px;
  filter: hue-rotate(180deg); /* Change color of icons */
}

.iconContainer img:hover {
  filter: hue-rotate(180deg); /* Change color of icons on hover */
}

/*Styling the User-Profile page*/

.login-or-signin {
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.login-or-signin h2 {
  font-family: "Game";
  color: white;
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Styling the Sign-In page*/

.form-container {
  width: 100%;
  background-color: black;
}

.form {
  width: 100%;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form label {
  margin: 0 0 0.8rem 0;
  color: white;
  font-family: "Game";
}

.form input {
  padding: 1rem;
  width: 35%;
  height: 2rem;
  margin: 0 0 1.5rem 0;
  border-radius: 15px;
}

.form button {
  width: 50%;
  height: 3rem;
  font-family: "Game";
  margin: 1rem;
  background-color: #8bc6ef;
  color: white;
  -webkit-text-stroke: 1px black;
  border-radius: 15px;
  transition: 400ms;
}

.form button:hover {
  scale: 1.4;
}

.error-user-name-message {
  color: red;
  font-weight: 800;
}
